@{
    ViewBag.Title = "SuccessApprove";
}

<h2>Pesetujuan Berhasil</h2>
<p>Kami sudah mengirimkan Email kepada pemohon dan penyetuju</p>
<a href="@Url.Action("Index")">
    <img alt="Kembali" src="@Url.Content("~/Metro/images/misc/left_round.png")" title="Kembali"/>
</a>
