@{
    ViewBag.Title = "Thanks for registering";
}

<h2>Terimakasih telah mendaftar!, Tapi Akun anda belum aktif <img src="http://l.yimg.com/us.yimg.com/i/mesg/emoticons7/24.gif" alt="rolling on the floor"></h2>
<p>
    Silahkan cek email anda, Kami sudah mengirim kan kode konfirmasi..
    <img alt="cowboy" src="http://l.yimg.com/us.yimg.com/i/mesg/emoticons7/48.gif">
</p>
