@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>
    
<div>
    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(m => m.Exception)
        </div>
        <div class="input-control text">
            @Html.TextAreaFor(m => m.Exception, new { @readonly = "readonly", @rows = 20, @cols = 50 })
        </div>
    </fieldset>
</div>
