@{
    ViewBag.Title = "Approve";
}

<h2>Persetujuan SKPD Dari Email</h2>

@System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
@Html.ValidationSummary(true, "Gagal Proses. Silahkan perbaiki error dibawah ini")