@{
    ViewBag.Title = "SuccessApprove";
}

<h2>Setting Penggunaan Anggaran Berhasil</h2>

<a href="@Url.Action("Index")">
    <img alt="Kembali" src="@Url.Content("~/Metro/images/misc/left_round.png")" title="Kembali"/>
</a>
@*@Html.ActionLink("+ Anggaran", "RequestInProgram", new { id = @Session["RequestID"] }, new { @class = "button bg-color-blue" })*@
